if SHIELD_SPLITORTHO_LEFT

config ZMK_SPLITORTHO
    default "SplitOrtho"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITORTHO_LEFT || SHIELD_SPLITORTHO_RIGHT

config ZMK_SPLIT
    default y

endif