/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "splitOrtho.dtsi"

&default_transform {
    col-offset = <6>;
};

&keymap_transform_0 {
    // Ensures DT_N_S_keymap_transform_0_P_map_LEN macro is generated for right side
};